menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu # "Zephyr Kernel"

comment "P1 DSMR HTTP Server"


module = APP
module-str = P1 DSMR HTTP Server
source "subsys/logging/Kconfig.template.log_config"

config ENABLE_WIFI
    bool "Enable WiFi for the Application"
    select WIFI
    select NET_L2_WIFI_MGMT

if WIFI

config WIFI_SSID
    string "SSID of WiFi network"

config WIFI_PSK
    string "Pre-Shared Key of WiFi network"

config WIFI_NXP
    default DT_HAS_NXP_WIFI_ENABLED

config WIFI_AP_SSID
    string "SSID for WiFI access point network"
    default "P1-DMSR-AP"

config WIFI_AP_PSK
    string "PSK for WiFI access point network"
    default "password"

config WIFI_AP_IP_ADDRESS
    string "IP to use in WiFI access point"
    default "192.168.1.1"

config WIFI_AP_NETMASK
    string "Netmask of WiFI access point network"
    default "255.255.255.0"

endif # WIFI

