
config BUILD_OUTPUT_HEX
	bool "Build a binary in HEX format for each image"
	help
	  Build an Intel HEX binary zephyr/zephyr.hex in the build directory.
	  The name of this file can be customized with CONFIG_KERNEL_BIN_NAME.
